
.row-fluid
  - @vans.each do |van|
    .col-lg-4
      .van-card
        .van-image
        .van-card-content
          .van-title
            = van.title
          .van-make
            = van.make
            = van.model
            = van.year
          .van-price
            Price


