%div{ style: "background: url('https://images.unsplash.com/photo-1486330071120-ba4e79e49431?w=1655') center bottom; background-size: cover; height: 400px; width: 100%;"}
.container
  .row.pad4y
    .col-md-8.col-md-offset-2
      %h3 What is Vantasies?
      %p.pad3b
        Vantasies is a website for sharing inspiration, vans for sale, and finding local van related companies. We wanted to create a resource that both allowed the vanlife community to highlight their vans/adventures, and additionally provide an entry point for folks looking to get started at vanlife, whether they're looking to buy, or just find inspration.


      %h3 How much does it cost?
      %p.pad3b
        It's free to share your van as inspiration. Posting a van for sale is $20. Listing your company is $19.99/month.


      %h3 Why wouldn't I just post on craigslist or ebay?
      %p.pad3b
        You're welcome to post wherever you want. We think that it's valuable to have a well-designed site that showcases your vans like those other sites can't. We're also focused specificially on the adventure van market, so you can surface your listing to a much more targeted audience.


      %h3 Who built it
      %p
        This was a project of Superluminal, a product studio based in Boulder, CO.

      %h3 Where can I send feedback?
      %p
        Shoot an email to support@vantasies.com!
