.container
  .row
    .col-md-8.col-md-offset-2
      %h3 What is it?
      %p
        Vantasies is...

      %hr

      %h3 How much does it cost?
      %p 
        Depending on what...

      %hr

      %h3 What about craigslist, ebay?
      %p 
        These vans are ready for that #vanlife. No work needed

      %hr

      %h3 Who built it
      %p 
        alex and kyle