= link_to company_path(company) do
  .van-card
    .van-image{style: 'background: url('"#{card_photo(company.photos)}"') center center no-repeat;background-size:cover;'}
    .van-card-content
      .van-title.text-center
        = company.name
      .van-make
        =# van.make
        =# van.model
        =# van.year

