.container
  .row
    .homepage-header
      .homepage-header--content
        .container
          .row
            .col-lg-8.col-lg-offset-2
              %h1 Find, share, and sell adventure vans.
              %p.pad2b We're here to help fulfill your wildest vantasies
              = link_to "Browse Awesome Vans", vans_path, class: 'btn btn-primary m1r'
              = link_to "Sell a Van", new_van_path, class: 'btn btn-default'



.container
  .row.text-center.pad4y
    .col-lg-10.col-lg-offset-1
      %p Vantasies is THE place for all your #vanlife needs. We want to provide a place for inspiration, and connections, as well as helping interested folks get started with their own van life adventures!
.container
  .row
    - @vans.each do |van|
      .col-lg-4
        = render partial: "components/van-card", locals: {van: van}


