.homepage-header
  .homepage-header--content
    .container
      .row.justify-content-md-center
        .col.col-lg-8
        %h1 Find and sell adventure vans.
        %p We're here to help fulfill your wildest vantasies
        %a.btn.btn-primary Find Vans
        %a.btn.btn-default Sell a Van
