.container
  .row
    .homepage-header
      .homepage-header--content
        .container
          .row.justify-content-md-center
            .col.col-lg-8
            %h1 Find and sell adventure vans.
            %p.pad2b We're here to help fulfill your wildest vantasies
            = link_to "Find a Van", vans_path, class: 'btn btn-primary'
            = link_to "Post a Van", new_van_path, class: 'btn btn-default'


.container
  .row.text-center.pad4y
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quidem tenetur repellat soluta pariatur iure mollitia voluptas fuga quo accusamus ipsum consectetur modi dolorum ipsa suscipit, exercitationem, at excepturi impedit.
.container
  .row
    - @vans.each do |van|
      .col-lg-4
        = render partial: "components/van-card", locals: {van: van}


