%meta{:content => image_url('facebook_image.png'), :name => "og:image"}/
%meta{:content => "image/png", :property => "og:image:type"}/
%meta{:content => "website", :name => "og:type"}/
%meta{:content => "Vantasies - Find, share, and sell adventure vans.", :name => "og:title"}/
%meta{:content => "https://www.vantasies.com", :name => "og:url"}/

.container
  .row
    .col-lg-12
      .homepage-header
        .homepage-header--content
          .container
            .row
              .col-lg-8.col-lg-offset-2
                %h1 Find, share, and sell adventure vans.
                %p.pad2b We're here to help fulfill your wildest vantasies
                = link_to "Browse Awesome Vans", vans_path, class: 'btn btn-primary m1r'
                = link_to "Post a Van", new_van_path, class: 'btn btn-default'

.container
  .row.text-center.pad4y
    .col-lg-10.col-lg-offset-1
      %h3 Vantasies is the place for all your #vanlife needs.

.container
  .row
    - @vans.each do |van|
      .col-lg-4
        = render partial: "components/van-card", locals: {van: van}


