.container

  .row
    .col-lg-10.col-lg-offset-1
      .js_edit_photos
        = render partial: 'companies/photos/edit_photos'
  .row
    .col-lg-8.col-lg-offset-2
      .form-area
        = form_for @company, url: company_path(@company), method: :put do |f|
          = render partial: 'companies/form', locals: {f: f}
