.container

  .row
    .col-lg-8.col-lg-offset-2
      .row.pad8b
        .col-lg-12
          %h1 Why should I create a company?
          %p Vantasies is creating a centralized location to find local dealers, builders, and rental companies. Make it easy for your local business to be found by people interested in #vanlife. It's $19.99/month to list your business.

      .form-area
        = form_for @company, url: companies_path, method: :post do |f|
          = render partial: 'companies/form', locals: {f: f}

:javascript
  if (typeof(google) == "undefined"){
    var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places&callback=init";
        document.body.appendChild(script);
  }else{
    init();
  }

  function init(){
    var autocomplete = new google.maps.places.Autocomplete(document.getElementById('locationField'));
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
      var place = autocomplete.getPlace();

      var latitude = place.geometry.location.lat();
      var longitude = place.geometry.location.lng();

      $('#company_latitude').val(latitude);
      $('#company_longitude').val(longitude);
    });

  };