.edit-photos-container {
  margin-top: 10px;

  .editable-photo {
    display: block;
    float: left;
    margin-right: 20px;
    width: 100px;
    cursor: move;

    img {
      width: 100%;
    }
  }
}