body{
  font-family: 'Muli';
  font-weight: 300;
  font-size: 18px;
  h1,h2,h3{
    font-weight: 600;
  }
}
.image-header{
  .navbar{
    margin-bottom: -50px;
    background: transparent;
    border-bottom: none;
    color: #fff;
  }
  .navbar-brand{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
  }
}
.homepage-header{
  background: url('https://images.unsplash.com/photo-1491314768749-82db5ebd6499?dpr=1&auto=format&fit=crop&w=1334&h=&q=60&cs=tinysrgb&crop=') center center no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  &:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    content: '';
    background: rgba(0,0,0,0.3);
  }
  .homepage-header--content{
    text-align:center;
    padding-top: 20vh;
    position: relative;
    h1{
      font-size: 70px;
      color:#fff;
      z-index: 99;
      position: relative;
    }
    p{
      font-size: 24px;
      color: #fff;
      z-index: 99;
      position: relative;
    }
  }
}
.card{
  background: #FFFFFF;
  border-radius: 7px;
  border: 1px solid #f7f7f7;
  box-shadow: 0 2px 3px 0px rgba(0,0,0,0.1);
  padding: 15px;
}
