.van-card{
  display: inline-block;
  width: 100%;
  float: left;
  transition: all .2s ease-in-out;
  margin-bottom: 32px;
  &:hover{
    transform: scale(1.02);
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.21);

  }
  .van-image{
    height: 300px;
    background: #efefef;
    width:100%;
    background-size: cover;
    position:relative;
  }
  .van-card-content{
    padding: 20px;
    background: #f7f7f7;
  }
  .van-title{
    font-size: 24px;
    color: #131313;
  }
  .van-make{
    font-size: 15px;
    color: #999;
  }
  .van-price{
    float: right;
    padding: 10px;
    background: #ffeb3b;
    color: #131313;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.gallery-wrap{
  position: relative;
  overflow: hidden;
}

.van-title{
  font-size: 50px;
}
.van-price{
  float: right;
}


.title-wrap{
  padding: 30px 0;
  border-bottom: 1px solid #efefef;
  .van-title{
    font-size: 40px;
    margin: 0px;
  }
  .van-price{

  }
  .van-contact{

  }
}
.van-description{
  padding: 30px 0 50px 0;
  p{
    font-size: 22px;
    line-height: 1.5;
    font-weight: 200;
    color: #777;
  }
}
.van-info{
  column-count: 2;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 50px 0;
  .info-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 15px;
  }
  .van-info--title{
    font-size: 18px;
    font-weight: 600;
    min-width: 40%;
    width: 40%;
    display:inline-block;
  }
  .van-info--detail{
    font-size: 18px;
    padding-right: 50px;
    float:right;
    opacity:0.8;
  }
}

.not-paid-warning{
  text-align: center;
  background-color: red;
  color: #fff;
  padding: 20px 10px;
}
