.container
  .row
    .col-md-8
      %h3 You're almost set

      %p
        As a company we want to give you the best visibility possible. By posting your vans on Vantasies, you'll not only get tons of exposure to your product, but you'll also have a very high visibility "profile"
        advertising your business.

      %p
        Contact us today to chat about discounted per-van costs!